.Big{
  color:white;
  font-family: 'Lato', sans-serif;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
  font-size:3em
}

.Small{
  color:white;
  font-family: 'Lato', sans-serif;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
  font-size: 1.5em;
}

p {
  text-transform:capitalize;
}

body {
  background-color:#4ae09c
}

.Fave{
  background-color:#e8b923
}

.Compare{
  background-color:#00FA9A
}